.about {
  min-height: 100%;
  width: 100%;
  background-color: $color-white;
  color: $color-black;
  position: relative;
}

.about__wrapper {
  @extend %dimension;
  position: relative;
  background-color: inherit;
}

.about__text {
  max-width: 70rem;
  margin-bottom: 3rem;
  position: absolute;
  top: 9rem;
  right: 9rem;
}

.about__text__title {
  display: inline-block;
  align-items: center;
  font-size: 6rem;
  max-width: 25rem;
  @extend %title-30;
}

.about__text__bracket {
  display: inline-block;

  &--right {
    margin-right: 0.5rem;
  }

  &--left {
    margin-left: 0.5rem;
  }
}

.about__gallery {
  width: 100%;
  height: 80rem;
  display: flex;
  justify-content: center;
}

.about__gallery__media {
  @extend %dimension;
  width: 100%;
  position: relative;
}

.about__gallery__media__image {
  @extend %cover;
  object-fit: cover;
}

.about__personal__story {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30rem;
  padding-right: 20rem;
  padding-top: 14rem;
}

.about__personal__story__title {
  text-transform: uppercase;
  @extend %description-22;
}

.about__personal__story__description {
  max-width: 50rem;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %description-22;
  margin-bottom: 40rem;
}
