.awards {
  min-height: 100%;
  width: 100%;
  color: $color-black;
  background-color: $color-white;
}

.awards__wrapper {
  @extend %dimension;
}

.awards__content {
  @extend %dimension;
  position: relative;
  padding-top: 8rem;
}

.awards__header {
  max-width: 60rem;
  line-height: 1.2;
  margin-bottom: 7rem;
  margin-left: 3rem;
}

.awards__title {
  font-size: 7rem;
  text-transform: uppercase;
}

.awards__content__content {
  height: 110rem;
  padding: 3rem;
}

.awards__table {
  @extend %dimension;
}

.awards__table__body {
  width: 100%;
}

.awards__table__head {
  @extend %flex-ac-jb;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.awards__row {
  @extend %flex-ac-jb;
  text-align: left;
  height: 5rem;
  @extend %description-22;

  &:nth-child(2) {
    text-align: right;
  }
}

.awards__divider {
  height: 1px;
  background-color: $color-black;
  margin: 10px 0;
}
