.hobbies {
  min-height: 120rem;
  width: 100%;
}

.hobbies__wrapper {
  position: relative;
  @extend %dimension;
}

.hobbies__content {
  @extend %dimension;
  display: flex;
  position: relative;
}

.hobbies__draggable__card {
  width: 55rem;
  height: 46rem;
  position: relative;
  background-color: #fff;
  margin-top: 6rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.hobbies__draggable__card__frame__numbers {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  @extend %description-50;
  color: $color-black;
  background-color: $color-white;
}

.hobbies__draggable__card__frame__header {
  height: 5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 2rem;
  background-color: #ffffff;

  span {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border-radius: 100rem;
  }

  :nth-child(1) {
    background-color: #cbccff;
  }
  :nth-child(2) {
    background-color: #9296f0;
  }
}

.hobbies__draggable__card__frame__media {
  height: 29rem;
  width: 95%;
  position: relative;
  margin: 0 auto;
}

.hobbies__draggable__card__frame__media__image {
  @extend %cover;
  object-fit: cover;
  -webkit-user-drag: none;
}

.hobbies__draggable__card__frame__text {
  max-width: 70rem;
  position: absolute;
  top: 30rem;
  right: 17rem;
}

.hobbies__draggable__card__frame__text__text {
  @extend %description-22;
}

.first-card {
  position: absolute;
  left: 45rem;
  top: 10rem;
}

.second-card {
  position: absolute;
  left: 30rem;
  top: 25rem;
}
