.home {
  @extend %dimension;
  overflow: hidden;
  position: relative;
}

.home__wrapper {
  overflow: hidden;
}

.home__card {
  @extend %cover;
  color: $color-white;
}

.home__text {
  @extend %cover;
}
.home__text__wrapper {
  position: relative;
  @extend %dimension;
}

.home__text__media {
  width: 50rem;
  height: 25rem;
  position: absolute;
  bottom: 4rem;
  left: 24rem;
}

.home__text__media__image {
  @extend %cover;
  object-fit: cover;
}

.home__text__title__content {
  position: absolute;
  width: 100%;
  height: 55rem;
  bottom: 7rem;

  & > :nth-child(2) {
    position: absolute;
    right: 9rem;
  }
}

.home__text__title {
  position: relative;
  font-size: 30rem;
  white-space: wrap;
}
