%description-18 {
  font-size: 1.8rem;
}

%description-20 {
  font-size: 2.1rem;
}

%description-22 {
  font-size: 2.2rem;
  line-height: 1.2;
}

%description-50 {
  font-size: 5rem;
  font-family: "PP Neubit";
}

%description-125 {
  font-size: 12.5rem;
  font-size: clamp(7rem, 19.75vh, 15rem);
  line-height: 0.77;
  white-space: nowrap;
  font-weight: bold;
  font-family: quiche-sans;
  color: rgb(192, 192, 192, 0.8);
}
