:root {
  --pane--default--width--large: 40rem;
  --pane--default--height--large: 50rem;
  --pane--border--radius: 0.6rem;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: initial;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: Min(calc(100vh / 900 * 10), calc(100vw / 1440 * 10));
  line-height: 1;

  @include respondMax("tablet") {
    font-size: Min(calc(100vw / 992 * 10), calc(100vh / 750 * 10));
  }

  @include respondMax("mobile2x") {
    font-size: calc(100vw / 675 * 10);
  }
}

body {
  font-family: "Opensauce", sans-serif;
  background-color: $color-black;
  color: $color-white;
  transition: all 300ms $ease-in-out;
  font-size: 1.8rem;
  user-select: none;
  overflow-x: hidden;
}

section,
footer {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

canvas {
  @extend %cover;
  pointer-events: none;
  position: fixed;
  z-index: z("canvas");
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

[data-animation="text"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

::-webkit-scrollbar {
  display: none;
}

.content {
  @extend %cover;
  overflow-x: hidden;
  z-index: z("content");
}
