@font-face {
  font-family: "Opensauce";
  src: url("/font/opensauce-medium-DHCY1jhb.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neubit";
  src: url("/font/PPNeueBit-Bold.0d00aa84.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
